<div class="conteudo">
  <mat-toolbar color="primary">
    <img src="../assets/images/relogio.png" width="50px" style="margin-right: 20px">
    <span> Ponto Inteligente</span>
    <span class="toolbar-spacer"></span>
    <img src="../assets/images/spring_angular.png" width="170px">
    <a (click)="sair()" style="cursor: pointer"
      alt="Sair" title="Sair"
      *ngIf="autenticado()">
      <mat-icon 
          class="toolbar-icon"
          matTooltip="Sair">
          exit_to_app
      </mat-icon>
    </a>
  </mat-toolbar>

  <div class="rota">
    <router-outlet></router-outlet>
  </div>

</div>

  